footer {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 20px;
    padding-top: 20px;
}
.contacts-img{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 20px;
}