.container-navigation {
  margin-bottom: 50px;
  background: rgb(187, 24, 130);
  box-shadow: 0 0 15px rgb(187, 24, 130);
}
// nav {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 100;
//   }
  
  h4 {
    margin: 0;
    cursor: pointer;
  }
  nav h4:hover {
    cursor: pointer;
    color: yellow;
  }
 
  @media (max-width: 767px) {
    nav {
      max-width: 100%;
      flex-direction: row;
      padding: 10px 0;
    }
  }

  @media (min-width: 768px) and ( max-width: 931px) {
    nav {
      flex-direction: row;
      font-size: 14px;
      padding: 20px 0;
      font-size: 24px;
      margin-bottom: 50px;
    }

  }
  
  @media (min-width: 932px) {
    nav {
      flex-direction: row;
      font-size: 14px;
      padding: 20px 0;
      font-size: 28px;
    }

  }
  