.menu-wrapper {
  display: flex;
  justify-content: space-between;
  background: #1e1f21;
  color: #dcdddd;
  padding: 12px 10px;
  align-items: center;
}

.month {
  display: flex;
  gap: 8px;
}
.month span {
  font-size: 20px;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

button {
  border: unset;
  background: #565759;
  border-radius: 4px;
  color: #e6e6e6;
  margin-right: 2px;
  padding: 5px 5px;
}
