section {
   padding-top: 10px;
   padding-left: 20px;
}

.header {
    margin-bottom: 20px;
}
.text_wrapper {
    background-color: grey;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px 10px;
    background: rgb(229, 18, 155);

}